<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/custom.css">
    <!--STYLES END-->

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">UTM Link Builder</a>
        <ul class="nav">
          <% if (req.session.User) { %>
            <li><a href="/link">Links</a></li>
            <li><a href="/session/destroy">Log out</a></li>
            <% if (req.session.User.admin) { %>
              <li><a href="/user">Users</a></li>
            <% } %>
          <% } else { %>
            <li><a href="/">Home</a></li>
          <% } %>
        </ul>
      </div>
    </div>

    <%- body %>



    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/jquery.min.js"></script>
    <script src="/linker/js/jquery.validate.min.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/customValidator.js"></script>
    <!--SCRIPTS END-->

    </body>
</html>
