<div class="container">
  <div class="row">
    <div class="span12">

      <h3>Create a new link</h3>

      <form id="create-link-form" class="form-horizontal" action="/link/create" method="POST">

        <% if(flash && flash.err) { %>
          <ul class="alert alert-success">
            <% Object.keys(flash.err).forEach(function(error) { %>
              <li><%- JSON.stringify(flash.err[error]) %></li>
            <% }) %>
          </ul>
        <% } %>

        <div class="control-group">
          <label class="control-label">Destination URL</label>
          <div class="controls">
            <input name="destinationUrl" type="text"/><span class="help-inline">Your destination URL without http://</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Campaign Name</label>
          <div class="controls">
            <input name="utmCampaign" type="text" class="form-control"/><span class="help-inline">(product, promo code, or slogan)</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Campaign Medium</label>
          <div class="controls">
            <input name="utmMedium" type="text" class="form-control"/><span class="help-inline">(marketing medium: cpc, banner, email)</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Campaign Source</label>
          <div class="controls">
            <input name="utmSource" type="text"/><span class="help-inline">(referrer: google, citysearch, newsletter4)</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Campaign Term</label>
          <div class="controls">
            <input name="utmTerm" type="text" class="form-control"/><span class="help-inline">(identify the paid keywords, separated by "+"</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Campaign Content</label>
          <div class="controls">
            <input name="utmContent" type="text" class="form-control"/><span class="help-inline">(use to differentiate ads)</span>
          </div>
        </div>

        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input type="hidden" name="userId" value="<%= req.session.User.id %>" />

        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Create" class="btn btn-lg btn-primary btn-block" />
          </div>
        </div>
      </form>



      <span class="stitle"><strong>Helpful Information</strong></span>
      <table class="outline2">
        <tbody>
          <tr>
            <td>
              <p>Campaign Source (utm_source)</p>
            </td>
            <td>
              Required. Use <strong>utm_source</strong> to identify a search engine, newsletter name, or other source.<br>
              <em>Example</em>: utm_source=google</td>
          </tr>
          <tr>
            <td>
              <p>Campaign Medium (utm_medium)</p>
            </td>
            <td>
              Required. Use <strong>utm_medium</strong> to identify a medium such as email or cost-per- click.<br>
              <em>Example</em>: utm_medium=cpc</td>
          </tr>
          <tr>
            <td>
              <p>Campaign Term (utm_term)</p>
            </td>
            <td>
              Used for paid search. Use <strong>utm_term</strong> to note the keywords for this ad.<br>
              <em>Example</em>: utm_term=running+shoes</td>
          </tr>
          <tr>
            <td>
              <p>Campaign Content (utm_content)</p>
            </td>
            <td>
              Used for A/B testing and content-targeted ads. Use <strong>utm_content</strong> to differentiate ads or links that point to the same URL.<br>
              <em>Examples</em>: <code>utm_content=logolink <em>or</em> utm_content=textlink</code> </td>
          </tr>
          <tr>
            <td>
              <p>Campaign Name (utm_campaign)</p>
            </td>
            <td>
              Used for keyword analysis. Use <strong>utm_campaign </strong>to identify a specific product promotion or strategic campaign.<br>
              <em>Example</em>: <code>utm_campaign=spring_sale</code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>