<div class="container">
  <h1>Welcome to UTM Link Builder</h1>

  <p>
    This app allows you to create UTM links used in online marketing to track performance of online campaigns.

  </p>

  <h4>To get started:<h4>
  <a href="/session/new" class="btn btn-large btn-warning">Sign in</a>
</div>
